/* source: https://github.com/coltwillcox/linuxwave/tree/master */
@define-color border #9963ff;
@define-color background #161925;
@define-color font1 #f222ff;
@define-color font2 #ffd318;
@define-color shadow #fc199a;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    border: none;
    border-radius: 0;
    font-weight: bold;
    text-shadow: 0 0 5px @shadow;
}

/*
window#waybar {
    background-color: rgba(47, 55, 69, 0.7);
    border-bottom: 3px solid rgba(47, 55, 69, 0.5);
	border-radius: 3px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
*/
window {
	background-color: rgba(0, 0, 0, 0);
}
window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    /* background: inherit; */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: @background;
	border: 2px solid @border;
}
#workspaces button {
	transition: none;
	color: @font1;
	background: transparent;
	font-size: 16px;
	text-shadow: 0 0 5px @shadow;
}

#workspaces button.focused {
	color: @font2;
	border-radius: 26px;
	background: rgba(12, 14, 20, 1);
	border: 2px solid @border;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty #window {
	background: none;
	border: none;
}

#window {
	margin-top: 8px;
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#custom-netspeed {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#tray menu {
	margin-top: 8px;
	margin-left: 8px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font1;
	background: @background;
	border: 2px solid @border;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding: 6px 16px 6px 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @font2;
	background: @background;
	border: 2px solid @border;
}

tooltip {
	background: @background;
	border: 2px solid @border;
	border-radius: 26px;
}

tooltip label {
	color: @font2;
}
