# Theme colors
# client.focused          #272827 #272827 #657b83 #272827 #272827
# client.focused_inactive #272827 #272827 #657b83 #272827 #272827
# client.unfocused        #272827 #272827 #657b83 #272827 #272827
# client.urgent           #272827 #272827 #657b83 #272827 #272827
# client.placeholder      #272827 #272827 #657b83 #272827 #272827

# client.background       #272827

client.focused	<color1>	<color2>	<color1>	<color1>	<color1>
client.focused_inactive	<color1>	<color2>	<color1>	<color3>	<color1>
client.unfocused	<color4>	<color2>	<color4>	<color3>	<color4>
client.urgent	<color5>	<color2>	<color1>	<color3>	<color1>
client.placeholder	<color4>	<color2>	<color4>	<color3>	<color4>

client.background	<color2>

# Gaps
gaps inner 10
gaps outer -4

smart_gaps on
new_window pixel 5
new_float normal

# hide_edge_borders none

floating_modifier $mod

# set power-manager and volume control
exec --no-startup-id mate-power-manager

focus_follows_mouse no

