/* source: https://github.com/coltwillcox/linuxwave/tree/master */

@define-color border #11111b;
@define-color background #11111b;
@define-color font1 #cdd6f4;
@define-color font2 #585b70;
@define-color shadow #f5c2e7;


* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

#workspaces,
#workspaces button,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#backlight,
#battery,
#tray
{
	margin-top: 0px;
	margin-top: 0px;
	margin-left: 2px;
	padding: 1px 2px 1px 2px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	color: #585b70;
	border: 0px solid @border;
}

#workspaces {
	transition: none;
	background: transparent;
}

#workspaces button {
	transition: none;
	background: #f5e0dc;
	text-shadow: 2px 2px 5px @shadow;
}

#workspaces button.focused {
	background: #89b4fa;
	border: 0px solid #f5e0dc;
}


#workspaces button.active {
	background: #89b4fa;
	border: 2px solid #f5e0dc;
}

#workspaces button:hover {
	transition: none;
	text-shadow: 0px 0px 2px #f38ba8;
}

#clock {
  background: #f5c2e7;
}

#pulseaudio {

  background: #cba6f7;
}

#network {
  background: #f38ba8;
}

#cpu {
  background: #eba0ac;
}

#memory {
  background: #fab387;
}

#backlight {
  background: #f9e2af;
}

#battery {
  background: #a6e3a1;
}

#tray {
  background: #94e2d5;
}

tooltip {
	background: @background;
	border: 2px solid @border;
	border-radius: 26px;
}

tooltip label {
	color: @font2;
}

